<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179679365922-k5b56ebh2ht8dsm0u2j4b0v7b4sivou0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179679365922-k5b56ebh2ht8dsm0u2j4b0v7b4sivou0</string>
	<key>API_KEY</key>
	<string>AIzaSyApAjANISGqFef8QWr2CHSsNVLgjs6tNRc</string>
	<key>GCM_SENDER_ID</key>
	<string>179679365922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotaryapk</string>
	<key>PROJECT_ID</key>
	<string>rotary-332120</string>
	<key>STORAGE_BUCKET</key>
	<string>rotary-332120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179679365922:ios:10cd8b2b0d058b06b0337b</string>
</dict>
</plist>